<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

  <description>
    Hypoport Twitterwall Server
  </description>

  <servlet>
    <servlet-name>TwitterAuthenticator</servlet-name>
    <servlet-class>de.hypoport.twitterwall.TwitterAuthenticator</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>TwitterAuthenticator</servlet-name>
    <url-pattern>/twitterauthenticator</url-pattern>
  </servlet-mapping>

</web-app>
